@import url("./queries.scss");

.main-container {
    $bg-color: #f1f1f1;
    $red-color: #e00;
    position: relative;
    display: flex;
    justify-content: space-between;
    background: $bg-color;
    color: #111;
    overflow: hidden;

    .image-container {
        pointer-events: none;

        > * {
            position: relative;
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    inputs-container {
        display: flex;
        flex-direction: column;
        gap: 1em;
        align-items: center;
        justify-content: space-between;
        background: white;
        padding: 2em clamp(1.5em, 4vw, 5em);
        flex-grow: 1;
    
        > * {
            max-width: 20em;
        }
    }
}