.main-container {
    $bg-color: #f1f1f1;
    $red-color: #e00;
    position: relative;
    display: flex;
    justify-content: space-between;
    background: $bg-color;
    color: #111;
    overflow: hidden;

    .image-container {
        pointer-events: none;

        > * {
            position: relative;
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}