@media screen and (min-width: 64rem) {
    .main-container .image-container {
        max-width: 45rem;
        padding: 4rem;
    }
}

@media screen and (max-width: calc(64rem - 1px)) {
    .main-container .image-container {
        padding: 2rem;
    }
}

@media screen and (min-width: 40rem) and (max-width: calc(64rem - 1px)) {
    .image-container {
        max-width: 35rem;
    }
}

@media screen and (min-width: 40rem) {
    .main-container {
        flex-direction: row;

        .image-container {
            flex-grow: 2;
        }

        inputs-container {
            height: 100%;
            flex-shrink: 0;
        }
    }
}

@media screen and (max-width: calc(40rem - 1px)) {
    .main-container {
        flex-direction: column;
        overflow-y: auto;

        .image-container {
            width: 100%;
        }

        inputs-container {
            position: sticky;
            width: 100%;
            bottom: 0;
        }
    }
}

.main-container {
    $bg-color: #f1f1f1;
    $red-color: #e00;
    position: relative;
    display: flex;
    justify-content: space-between;
    background: $bg-color;
    color: #111;
    overflow: hidden;
    height: 100vh;
    width: 100vw;

    .image-container {
        pointer-events: none;

        > * {
            position: relative;
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    inputs-container {
        display: flex;
        flex-direction: column;
        gap: 1em;
        align-items: center;
        justify-content: space-between;
        background: white;
        padding: 2em clamp(1.5em, 4vw, 5em);
        flex-grow: 1;
    }
}